.container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: linear-gradient(to right, #4263bc, #5d31b7);
  }
  
  .form {
    position: relative;
  }
  
  .btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0;
  }
  
  .btn:focus {
    outline: transparent;
  }
  .input {
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    border: 1px rgb(89, 214, 72) solid;
  }
  
  .input:focus {
    outline: transparent;
    border-color: #16a8f1;
  }